body {
	background-color: #f2f1ef;
	color: #333;
	font-family: Arial, Verdana, sans-serif;
	margin: 0; /* Set to 0, since browsers may give different defaults for body */
	padding: 0;
}
/* Panel Class: Shared Characteristics of #day and #night */
.panel {
	width: 50%;
	height: 100%;
	display: inline-block;

}
#day {
	background-color: #f2f1ef;
	opacity: .7;

}
#night {
	top: 0;
	position: fixed;
	right: 0;
	border-left-style: solid;
	border-width: 7px;	
	
}



/*night container content and text*/

.q-container{
	margin: 200px auto 0 auto;
	width: 90%;
	position: relative;
	bottom:5px;
	border: solid;
	border-color:black;
	background:white;
	opacity: .5;
	padding:15px;

}
.q-container #quote{
	font-size: 45px;
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color:black;
	
}
#name{
	text-align: center;
	font-weight: 15px;
	font-weight: 100;
	letter-spacing: 3px;
}
.n-background img{
	position: absolute;
	left:0;
	top: 0;
	display:block;
	width:100%;
	opacity:0.8;
}

/*day panel characteristics*/
#day{
	
	height: 500px;
  	width: 450px;
  	position: absolute;
  	top: calc((100% - 500px) / 2);
  	left: calc((50% - 450px) / 2);
}
.menu{
	
	height: 125px;
  	width: 160px;
  	position: absolute;
  	top: calc((100% - 125px) / 2);
  	right: calc((100% - 160px) / 2);
  	padding: 0;
}
.title {
	color:black;
	font-size: 45px;
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	height: 100px;
  	width: 500px;
  	position: absolute;
  	top: calc((50% - 100px) / 2);
  	right: calc((100% - 500px) / 2);

}
#day .separator {
	background-color: black;
	height: 3px;
	margin: 20px auto;
	width: 65%;
	position: relative;
	top:25%;
}

.menu .item {
	color:black;
	cursor: pointer;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 3px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	/* Add Styles Below */
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition:0.3s;
}
#day .menu .item {
	opacity: .7;
}

#day .menu .item:hover {
	opacity: 1;

}
.social-container{
	height: 30px;
  	width: 500px;
  	position: absolute;
  	top: calc((150% - 500px) / 2 + 220px);
  	left: calc((100% - 500px) / 2);
  	
}
.social {
	margin-top: 75px;
	text-align: center;
}
.social .item {
	color:black;
	border: 1px solid #444;
	cursor: pointer;
	font-size: 12px;
	letter-spacing: 3px;
	padding: 6px 15px;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	/* Add Styles Below */
	display: inline-block;
	margin-left: -5px;

}

#day .social .item {
	opacity: 1;
}
#day .social .item:hover {
	background-color: #FAB409;
	color: #f2f2f2;
	opacity: 0.8;

}


	 
/*The about-container */
.about-background{
	background:#FAB409;
	top: 0;
	position: fixed;
	right: 0;
	width: 50%;
	height: 100%;

}

.group1 .item {
	border: 1px solid #444;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 3px;
	padding: 6px 15px;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	/* Add Styles Below */
	margin-left: -5px;
	opacity: 1;
	display:inline-block;

}
.group2 .item {
	border: 1px solid #444;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 3px;
	padding: 6px 15px;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	margin-left: -5px;
	opacity: 1;
	display: inline-block;
}
.group3 .item {
	border: 1px solid #444;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 3px;
	padding: 6px 15px;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	margin-left: -5px;
	opacity: 1;
	display: inline-block;
}
.group4 .item {
	border: 1px solid #444;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 3px;
	padding: 6px 15px;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	margin-left: -5px;
	opacity: 1;
	display: inline-block;
}

.skills{
	position: fixed;
	left: 720px;
	width: 700px;
	bottom: 170px;



}
.skills-container .group1 .item:hover {
	background-color: #222;
	color: #f2f2f2;
	opacity: 0.8;
}

.skills-container .group2 .item:hover {
	background-color: #222;
	color: #f2f2f2;
	opacity: 0.8;
}
.skills-container .group3 .item:hover {
	background-color: #222;
	color: #f2f2f2;
	opacity: 0.8;
}
.skills-container .group4 .item:hover {
	background-color: #222;
	color: #f2f2f2;
	opacity: 0.8;
}
.about-container{
	height: 100%;
	width: 50%;
	position: fixed;
	left:50%;
	top: 0;
	color:white;
	
}


.education-container{
	position: fixed;
	top:190px;
	left: 50%;
	text-align: center;
	font-size: 14px;
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	left: 720px;
	opacity: 1;


}
h4{
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 5px;

}
.skills-container {
	position: relative;
	top: 250px;
	left: 250px;
	margin: auto 0;


}
.about-container{
	display: none;
}
/*why-me-container*/
.me-background{
	background:#FAB409;
	top: 0;
	position: fixed;
	right: 0;
	width: 50%;
	height: 100%;

}

.pick-me-content{
	
	height: 550px;
  	width: 450px;
  	position: absolute;
  	top: calc((100% - 550px) / 2);
  	left: calc((100% - 450px) / 2);
  	font-size: 12px;
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color:white;
	line-height: 25px;
	text-align: center;
}
h1{
	text-align: center;
}

.why-me-container{
	display: none;
}
/*contact container*/
.contact-background{
	background:#FAB409;
	top: 0;
	position: fixed;
	right: 0;
	width: 50%;
	height: 100%;

}
.content-container{
	padding:10px, 0px;
	position: relative;
	font-size: 12px;
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color:white;
	left:30%;
	top:210px;
	
}

.contact-container{
	display: none;
}



